<!-- <h1 class="text-3xl font-bold mb-3 text-center">{{ title }}</h1> -->

<div class="flex flex-row justify-between place-items-center">
  <span class="text-xl font-bold text-center pr-4"
    >Welcome, {{ this.accountService.userValue?.username }}!</span
  >
  <button
    class="btn w-full sm:w-auto py-1 text-center text-white bg-blue-500 text-xl px-3 my-3 rounded-xl"
    (click)="logout()"
  >
    Logout
  </button>
</div>
<div class="my-3">
  <h5>
    You can use this chats to connect with people anonymously without message
    saving!
  </h5>
</div>
<div class="flex flex-col">
  <button
    routerLink="/global-chat"
    class="btn sm:w-auto py-1 text-center text-white bg-blue-500 text-xl px-3 my-3 rounded-xl"
  >
    Global chat
  </button>
</div>
